<%- include('partials/header') -%>

    <%- include('partials/navbar') -%>



        <!-- ======= Doctors Section ======= -->
        <section id="doctors" class="doctors">
            <div class="container">

                <div class="section-title">
                    <h1>Doctors</h1>
                    <h2> CHOOSE YOUR COUNSELLING THERAPIST</h2>
                </div>

                <div class="row">

                    <div class="col-lg-6">
                        <div class="member d-flex align-items-start">
                            <div class="pic"><i class="fa-duotone fa-user-tie-hair-long"></i></div>
                            <div class="member-info">
                                <h4><STRONG>Kashika Gulati</STRONG></h4>
                                <span>MA in Counselling Psychology</span>
                                <p>Specialization
                                    Stress, Anxiety, Depression, Body Image, Self Confidence , Anger, OCD, Family
                                    Therapy, Self-harm</p>
                                <div class="social">
                                    <a href="/doctor"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="/doctor"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="/doctor"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="/doctor"> <i class="fa-brands fa-linkedin"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4 mt-lg-0">
                        <div class="member d-flex align-items-start">
                            <div class="pic"><img src="assets/img/doctors/doctors-2.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4><STRONG>Malvika Agarwal</STRONG></h4>
                                <span>MA in Clinical Psychology</span>
                                <p>Specialization
                                    Anxiety, Stress, Depression, Relationship Issues, Couple Counseling , Grief & Loss,
                                    Sleep Issues, Trauma, Self Confidence, Anger, Child Counseling, Career Counselling,
                                    Mood Disorder</p>
                                <div class="social">
                                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                                    <a href=""> <i class="fa-brands fa-linkedin"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4">
                        <div class="member d-flex align-items-start">
                            <div class="pic"><img src="assets/img/doctors/doctors-3.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Ishmeet Kaur</h4>
                                <span>PhD in Clinical Psychology</span>
                                <p>Specialization
                                    Anxiety, Stress, Depression, Relationship Issues, Couple Counseling , Grief & Loss,
                                    Sleep Issues, Trauma, Self Confidence, Anger, Child Counseling, Career Counselling,
                                    Mood Disorder</p>
                                <div class="social">
                                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                                    <a href=""> <i class="fa-brands fa-linkedin"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4">
                        <div class="member d-flex align-items-start">
                            <div class="pic"><img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Kriti Pahuja</h4>
                                <span>MSc in Counselling Psychology</span>
                                <p>Anxiety, Stress, Depression, Relationship Issues, Sleep Issues , Self Confidence,
                                    Anger, Mood Disorder</p>
                                <div class="social">
                                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                                    <a href=""> <i class="fa-brands fa-linkedin"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Doctors Section -->

        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Frequently Asked Questions</h2>

                </div>

                <div class="faq-list">
                    <ul>
                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                                data-bs-target="#faq-list-1" class="collapsed"> What is an anxiety disorder? <i
                                    class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                                <p>
                                    ANS: An anxiety disorder is a common mental health condition that changes
                                    the way you respond to situations. If you live with an anxiety disorder, you may
                                    experience
                                    dread or fear when faced with a certain circumstance. This is usually accompanied by
                                    physical
                                    signs and symptoms of anxiety, such as, a racing heart, muscle tension, or trouble
                                    sleeping.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#faq-list-2" class="collapsed">What are the types of anxiety disorders?
                                <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    ANS: Main types of anxiety disorders:
                                    Generalised anxiety disorder (GAD). (Feelings of extreme & constant worry and
                                    stress)
                                    Panic disorder (Panic attacks that may include palpitations, sweating, extreme fear,
                                    chest pain and severe anxiety)
                                    Phobias (Intense & irrational fears of certain situations or objects)
                                    Separation anxiety
                                    Social anxiety disorder (Constant worry about being judged or extreme nervousness in
                                    social situations)
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#faq-list-3" class="collapsed">What causes anxiety disorders? <i
                                    class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    ANS: It’s important to remember that anxiety disorders are not a reflection of a
                                    personal weakness or failure. While researchers have not found an exact cause, there
                                    are a combination of factors at play.
                                    Environmental triggers: Any kind of traumatic experience can increase the risk of
                                    developing an anxiety disorder.
                                    Heredity: It’s possible to inherit an anxiety disorder from your parents.
                                    Chemical imbalances: If you have experienced long-term stress, it can change certain
                                    chemical imbalances that affect your emotions. These changes can trigger an anxiety
                                    disorder.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#faq-list-4" class="collapsed">Is it possible to prevent an anxiety
                                disorder? <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    ANS: It may not be possible to prevent an anxiety disorder, but there are things you
                                    can do to reduce the impact of symptoms.
                                    Managing stress: Stress can worsen an anxiety disorder. It’s important to find ways
                                    to relax, so you don’t get easily triggered. Learning mindfulness techniques and
                                    asking for help & support when needed are some useful ways to manage stress and
                                    reduce symptoms of an anxiety disorder.
                                    Exercise: Whether you like to go to the gym, take quiet walks or go running, find a
                                    way to keep your body moving - even if it’s just for 20-30 minutes per day. Physical
                                    activity is a great way to tackle common anxiety symptoms like worry and irritation.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="400">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                data-bs-target="#faq-list-5" class="collapsed">What is the difference between therapy,
                                psychiatry and self-care for anxiety? <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    A therapist will help you work on the various psychological aspects of anxiety, like
                                    constant worry, nervousness about work presentations, exams, irritability and so on.
                                    A psychiatrist will help you work on the various physical aspects of anxiety, like
                                    sleeplessness, intense panic etc.
                                    Self-care includes all the steps you can take to help yourself in your mental health
                                    journey. This includes building mindfulness and learning relaxation techniques.
                                    Generally, the best possible outcomes from treatment arise when therapy, self-care,
                                    and psychiatry work together as they are all complementary to one another.
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>
        </section><!-- End Frequently Asked Questions Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Contact</h2>
                </div>
            </div>

        

            <div class="container">
                <div class="row mt-5">

                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>B/008 Roopali darshan thane 401105</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>guptasoumya115@gmail.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>+1 5589 55488 55s</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0">

                        <form action="mailto: guptasoumya115@gmail.com" method="post" role="form"
                            class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name"
                                        placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email"
                                        placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject"
                                    placeholder="Subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                    required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>

                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

        </main><!-- End #main -->







        <%- include('partials/footer') -%>